<div class="contenedorAdmin">
    {{#if mensaje}}
        <h3>{{mensaje}}</h3>
        <img src="https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2019/08/hipertextual-version-joven-morfeo-apareceria-matrix-4-2019877912.jpg?fit=1745%2C1043&quality=50&strip=all&ssl=1" alt="Admin">
        {{else}}
        <h4>Solo pueden ingresar administradores</h4>
    {{/if}}
</div>